body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    color: white;
}

main {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: black;
}


section {
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.problem-statement {
    font-weight: bold;
    margin-bottom: 10px;
}

.origin, .status, .results, .related-problems, .appearances, .categories {
    margin-bottom: 15px;
}

.bibliography {
    margin-top: 20px;
}

    .bibliography dt {
        font-weight: bold;
    }

    .bibliography dd {
        margin-bottom: 10px;
    }


canvas {
    width: 100%;
    max-width: 800px;
    height: 600px;
    display: block;
    margin: 1rem auto;
    border: 1px solid #ddd;
}



footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: white;
}
