@page "/video"

<title>Video</title>

<header>
	<h1>Polyhedra Unfolding</h1>
	<p>Designing efficient edge-unfolding algorithms</p>

	<p>Gregory Ojiem & Holden Lalumiere</p>
</header>

<br />
<br />
<h3>Video overview</h3>

<iframe src="https://drive.google.com/file/d/1RAVVG_GtHiYySeuIV5-NKMNKXYcKTxKN/preview" allow="autoplay; fullscreen"></iframe>