@page "/bibliography"

<title>Bibliography</title>

<section class="bibliography">
    <h2>Bibliography</h2>
    <h3>Overview references</h3>
    <dl>
        <dd>Horiyama, T., & Shoji, W. (2013). The number of different unfoldings of Polyhedra. In *Lecture notes in computer science* (pp. 623–633). <a href="https://doi.org/10.1007/978-3-642-45030-3_58">https://doi.org/10.1007/978-3-642-45030-3_58</a></dd>

        <dd>Lucier, B. (2018, October 17). Local overlaps in special unfoldings of Convex polyhedra - Microsoft
            Research. Microsoft Research. <a href="https://www.microsoft.com/en-us/research/publication/local-overlaps-special-unfoldings-convex-polyhedra/">https://www.microsoft.com/en-us/research/publication/local-overlaps-special-unfoldings-convex-polyhedra/</a></dd>

        <dd>Benton, A., & O’Rourke, J. (2008, January 25). A Class of Convex Polyhedra with Few Edge Unfoldings.
            arXiv.org. <a href="https://arxiv.org/abs/0801.4019">https://arxiv.org/abs/0801.4019</a></dd>
                
        <dd>Eppstein, D. (1987, February 18). A dicussion on unfolding convex polyhedra. Geometry in Action. <a href="https://ics.uci.edu/~eppstein/gina/unfold.htm">https://ics.uci.edu/~eppstein/gina/unfold.htm</a></dd>

        <dd>Schlickenrieder, W. (1997). Nets of polyhedra (Diplomarbeit). Technische Universität Berlin. <a href="https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=9fa2c63fd7cf9bf749c9713e0f4855a65402720d">https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=9fa2c63fd7cf9bf749c9713e0f4855a65402720d</a></dd>
    </dl>
    <h3>TOPP references</h3>
     <dl>
        <dt>[BDE+03]</dt>
        <dd>Marshall Bern, Erik D. Demaine, David Eppstein, Eric Kuo, Andrea Mantler, and Jack Snoeyink. Ununfoldable polyhedra with convex faces. Comput. Geom. Theory Appl., 24(2):51–62, 2003.</dd>

        <dt>[Dür25]</dt>
        <dd>Albrecht Dürer. The painter’s manual: A manual of measurement of lines, areas, and solids by means of compass and ruler assembled by Albrecht Dürer for the use of all lovers of art with appropriate illustrations arranged to be printed in the year MDXXV. New York: Abaris Books, 1977, 1525. English translation by Walter L. Strauss of ‘Unterweysung der Messung mit dem Zirkel un Richtscheyt in Linien Ebnen uhnd Gantzen Corporen’.</dd>

        <dt>[MO01]</dt>
        <dd>J. S. B. Mitchell and Joseph O’Rourke. Computational geometry column 42. Internat. J. Comput. Geom. Appl., 11(5):573–582, 2001. Also in SIGACT News 32(3):63-72 (2001), Issue 120.</dd>

        <dt>[O'R00]</dt>
        <dd>Joseph O’Rourke. Folding and unfolding in computational geometry. In Proc. 1998 Japan Conf. Discrete Comput. Geom., volume 1763 of Lecture Notes Comput. Sci., pages 258–266. Springer-Verlag, 2000.</dd>

        <dt>[She75]</dt>
        <dd>Geoffrey C. Shephard. Convex polytopes with convex nets. Math. Proc. Camb. Phil. Soc., 78:389–403, 1975.</dd>
    </dl>
</section>