@page "/demo"
@inject MainPageViewModel MainPageViewModel
@inject NavigationManager Navigator
@using PolyhedraUnfolding

<title>Demo</title>

<script type="module" src="renderer.js"></script>

<div id="visualization">
    <br />
    <h3>Interactive Demo</h3>
    <div class="dropdown">
        <button class="drop-btn" @onclick="ToggleDropdown">Shapes ▼</button>
        @if (displayDropdown)
        {
            <div class="dropdown-content">
                @foreach (var shapeName in shapeNames)
                {
                    <a @onclick="@(async () => { await OnSelectedShapeClick(shapeName); ToggleDropdown(); })">
                        @shapeName
                    </a>
                }
            </div>
        }
        <button @onclick="ToggleSphereMenu">Generate sphere</button>
        <button @onclick="ToggleRandomMenu">Generate random polyhedra</button>
    </div>

    @if (displaySphereMenu)
    {
        <div class="modal">
            <div class="modal-content">
                <span class="close" @onclick="ToggleSphereMenu">×</span>
                <p>
                    Sphere faces = slices * stacks. Anything over 2000 faces (~45x45) will take > 1 minute to generate and render.
                </p>
                <p>
                    Slices must be > 3, stacks must be > 2, and its recommended to be less than 1.5
                </p>
                <p>Slices: <input type="number" @bind="sphereSlices" /></p>
                <p>Stacks: <input type="number" @bind="sphereStacks" /></p>
                <p>Radius: <input type="number" @bind="radius" /></p>
                <button @onclick="@(async () => { await OnSphereShapeClick(); ToggleSphereMenu(); })">Create</button>
            </div>
        </div>
    }


    @if (displayRandomMenu)
    {
        <div class="modal">
            <div class="modal-content">
                <span class="close" @onclick="ToggleRandomMenu">×</span>
                <p>
                    This generates a shape from the convex hull of randomized points in a 1x1x1 bounding box. Takes ~15 seconds for 100k points
                </p>
                <p>
                    5, 10, 100, 1000, 10000 are recommended values.
                </p>
                <p>Points must be >= 4, radius must be > 0.1 and its recommended to be less than 1.5</p>
                <p>Number of points: <input type="number" @bind="pointCount" /></p>
                <p>Radius: <input type="number" @bind="radius" /></p>
                <button @onclick="@(async () => { await OnRandomShapeClick(); ToggleRandomMenu(); })">Create</button>
            </div>
        </div>
    }

    @if (MainPageViewModel.currentView == "3D")
    {
        <div>
            <button @onclick="OnFlattenClick">See flattened polyhedra</button>
            <button @onclick="OnSwapViewClick">Swap to 2D view</button>
            @*<button @onclick="OnUnfoldClick">View unfolding</button>*@
        </div>
    }

    else if (MainPageViewModel.currentView == "2D")
    {
        <div>
            <button @onclick="OnStepButtonClick">Step through algorithm</button>
            <button @onclick="OnUndoButtonClick">Undo step</button>
            <button @onclick="OnCompleteButtonClick">Unfold completely</button>
            <button @onclick="OnResetButtonClick">Reset</button>
            <button @onclick="OnUnplacedButtonClick">Unplaced polygon visibility</button>
            <button @onclick="OnSwapViewClick">Swap to 3D view</button>
        </div>
    }

    <div id="three-js-container"></div>
</div>

@inject IJSRuntime JSRuntime

@code {
    private List<string> shapeNames = PolyhedronExamples.GetShapeNames();
    private bool initialized = false;
    private bool displayDropdown = false;
    private bool displaySphereMenu = false;
    private bool displayRandomMenu = false;
    private int sphereSlices = 5;
    private int sphereStacks = 5;
    private int pointCount = 10;
    private double radius = 1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!initialized)
        {
            while (await JSRuntime.InvokeAsync<bool>("eval", "typeof initializeRenderer === 'undefined'"))
            {
                await Task.Delay(100);
            }
            if (Navigator.Uri.EndsWith("/demo"))
            {
                await JSRuntime.InvokeVoidAsync("initializeRenderer");
                initialized = true;
            }
        }

        if (initialized) {
            await RenderScene();
        }
    }

    protected async Task RenderScene()
    {
        var currentView = MainPageViewModel.currentView;

        if (MainPageViewModel.DoUnfoldAnimation)
        {
            var polyhedronJSON = MainPageViewModel.GetDisplayPolyhedronJSON();
            var polygonNetJSON = MainPageViewModel.GetDisplayNetJSON();
            await JSRuntime.InvokeVoidAsync("handleUnfoldAnimation", polyhedronJSON, polygonNetJSON);
        }
        else if (currentView == "2D")
        {
            var polygonNetJSON = MainPageViewModel.GetDisplayNetJSON();
            await JSRuntime.InvokeVoidAsync("handleRendering2D", polygonNetJSON);
        }
        else if (currentView == "3D")
        {
            var polyhedronJSON = MainPageViewModel.GetDisplayPolyhedronJSON();
            await JSRuntime.InvokeVoidAsync("handleRendering3D", polyhedronJSON);
        }
    }

    private async Task OnFlattenClick()
    {
        MainPageViewModel.FlattenToggle();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnSwapViewClick()
    {
        MainPageViewModel.SwapView();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnUnfoldClick()
    {
        MainPageViewModel.UnfoldAnimation();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnStepButtonClick()
    {
        MainPageViewModel.PerformStep();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnUndoButtonClick()
    {
        MainPageViewModel.UndoStep();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnCompleteButtonClick()
    {
        MainPageViewModel.CompleteStep();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnResetButtonClick()
    {
        MainPageViewModel.ResetStep();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnUnplacedButtonClick()
    {
        MainPageViewModel.UnplacedVisibilityToggle();
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnSelectedShapeClick(string polyhedra)
    {
        MainPageViewModel.SelectPolyhedra(polyhedra);
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnSphereShapeClick()
    {
        if (sphereSlices < 3 || sphereStacks < 2 || radius < 0.1) {
            return; //TODO add error message for user
        }
        MainPageViewModel.SelectSphere(sphereSlices, sphereStacks, radius);
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private async Task OnRandomShapeClick()
    {
        MainPageViewModel.SelectRandom(pointCount, radius);
        await OnAfterRenderAsync(true);
        StateHasChanged();
    }

    private void ToggleDropdown()
    {
        displayDropdown = !displayDropdown;
        StateHasChanged();
    }

    private void ToggleSphereMenu()
    {
        displaySphereMenu = !displaySphereMenu;
        StateHasChanged();
    }

    private void ToggleRandomMenu()
    {
        displayRandomMenu = !displayRandomMenu;
        StateHasChanged();
    }
}
