@page "/video"

<title>Video</title>

<header>
	<h1>Polyhedra Unfolding</h1>
	<p>Designing efficient edge-unfolding algorithms</p>

	<p>Gregory Ojiem & Holden Lalumiere</p>
</header>

<br />
<br />
<h2>Video overview</h2>

<iframe src="https://drive.google.com/file/d/1gy40drnCdoVYS1X2j9NcmajZ9ex6sm4h/preview" allow="autoplay; fullscreen"></iframe>